@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <p>
        En example LMS application. Not for any distribution or commercal use what so ever

    </p>
</address>

<address>
    <strong>Complaints:</strong>   <a href="mailto:donald.trump@whitehouse.gov">donald.trump@whitehouse.gov</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">donald.trump@whitehouse.gov</a>
</address>