body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.submit-save {

}
span.glyphicon {
    color: #0465e5;

}

span.glyphiconlg {
    font-size: 56px;
    margin-right: 20px;
    margin-left: 20px;
}

span.glyphiconsm {
    font-size: 45px;



}
h4 {
    font-weight: bold;

}

.smallicon {
    font-size: small;


}
.activity li:nth-child(odd) {
    background: red;
}

.activity li:nth-child(even) {
    background: blue;
}

.icon-size {
    font-size: 45px;
    

}

#CreateNewUserDiv {
    display:none;

}

.scheduleHeaderRow {
    background-color:lightgray;
    

}

.scheduleLunchRow {
   background-color:gainsboro;
}
.MyPageTitleWeek{
    font-size:larger;
    font-weight:bold;
}
.MyPageTitleWeek{
    font-size:small;
}

/*Override nav-pills styling*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color:#198521;
}

.nav-pills > li:hover > a, .nav-pills > li:hover > a:hover, .nav-pills > li:hover > a:focus{
    background-color:#c4e9c4;
    color:#198521;
}

.nav > li > a{
    color:#198521;
}

/*Override link looks*/ 
.headBannerLink > span > a:hover{
    color:coral;
    cursor: auto;
    text-decoration:none;
}

.greyBackground{
    background-color:#eaeaea;
}

.greenText{
    color:#198521;
}

.redText{
    color:#cc0000;
}


.topSection1A{
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom:10px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}

.topSection1B{
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom:10px;
    font-size:14px;
}

.topSection2{
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align:center; 
}