body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.submit-save {

}
span.glyphicon {
    color: #0465e5;

}

span.glyphiconlg {
    font-size: 56px;
    margin-right: 20px;
    margin-left: 20px;
}

span.glyphiconsm {
    font-size: 45px;



}
h4 {
    font-weight: bold;

}

.smallicon {
    font-size: small;


}
.activity li:nth-child(odd) {
    background: red;
}

.activity li:nth-child(even) {
    background: blue;
}

.icon-size {
    font-size: 45px;
    

}

#CreateNewUserDiv {
    display:none;

}

.scheduleHeaderRow {
    background-color:lightgray;
    

}

.scheduleLunchRow {
   background-color:gainsboro;
}
.MyPageTitleWeek{
    font-size:larger;
    font-weight:bold;
}
.MyPageTitleWeek{
    font-size:small;
}

/*Override nav-pills styling*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color:#198521;
}

.nav-pills > li:hover > a, .nav-pills > li:hover > a:hover, .nav-pills > li:hover > a:focus{
    background-color:#c4e9c4;
    color:#198521;
}

.nav > li > a{
    color:#198521;
}

/*Override link looks*/ 
.headBannerLink > span > a:hover{
    color:coral;
    cursor: auto;
    text-decoration:none;
}

/* override margins*/
.page-header {
    /*background-color:aquamarine;*/
    /*height:40px;*/
}

/*Info panels*/
.listElement{
    background-color:whitesmoke;
    border:1px solid lightgrey;
    margin: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

.greyBackground{
    background-color:#eaeaea;
}

.greenText{
    color:#198521;
}

.redText{
    color:#cc0000;
}


.alignCourseBtnXRight{
    margin-left: 3px;
}

.alignModBtnXRight{
    margin-left: 3px;
}

.alignActBtnXRight{
    margin-left: 3px;
}

.btnFlip {
  transform: rotate(180deg);
  /*margin-top: 100px*/
}

.greenButton{
    font-size: 16px;
    color:#198521;
    background-color:#c4e9c4;
    border-color: #198521;
    border-width:2px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 18px;
    margin-top: -12px;
}

.greenButtonSmall{
    font-size: 12px;
    font-weight:bold;
    color:#198521;
    background-color:#c4e9c4;
    border-color: #198521;
    border-width:2px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.redButton{
    font-size: 16px;
    font-weight:bold;
    color:#cc0000;
    background-color:darksalmon;
    border-color: #cc0000;
    border-width:2px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 18px;
    margin-top: -12px;
}

.saveButton{
    font-size: 16px;
    color:#198521;
    background-color:#c4e9c4;
    border-color: #198521;
    border-width:2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
}

/*.greenButton{
    font-size: 16px;
    color:whitesmoke;
    background-color:#198521;
    border-color: #198521;
    border-width:2px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 18px;
    margin-top: -12px;
}*/

/*.greenButtonSmall{
    font-size: 12px;
    font-weight:bold;
    color:whitesmoke;
    background-color:#198521;
    border-color: #198521;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}*/

/*.redButton{
    font-size: 16px;
    color:whitesmoke;
    background-color:#cc0000;
    border-color: #cc0000;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 18px;
    margin-top: -12px;
}*/

/*.saveButton{
    font-size: 16px;
    color:whitesmoke;
    background-color:#198521;
    border-color: #198521;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
}*/

.orangeButton{
    font-size: 20px;
    font-weight:bold;
    color:#cc0000;
    background-color:#eaeaea;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
}

.topSection1A{
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom:10px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}

.topSection1B{
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom:10px;
    font-size:14px;
}

.topSection2{
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align:center; 
}